html,

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

a {
  outline: none;
  cursor: pointer;
}
.generic a {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #ffffff;
  font-weight: bolder;
  vertical-align: middle;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.middle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}


.row {
  display: flex;
}

h2 {
  font-size: 24px;
  margin: 10px 0 0 0;
  padding: 0;
  font-weight: bold;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h3 {
  font-size: 18px;
  margin: 10px 0 0 0;
  padding: 0;
  font-weight: bold;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

ul {
  margin: 10px 0 10px 0;
}

hr {
  border: none;
  height: 1px;
  background: #333;
  width: 100%
}


.content {
  position: relative;
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  max-width: 900px;
}


.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  box-sizing: border-box;
}

.flex-row-space-between {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  box-sizing: border-box;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  box-sizing: border-box;
}

.flex-item {
  margin: 0 20px;
}

.left-align {
  float: left;
}

.right-align {
  float: right;
}

.full-width {
  width: 100%;
}

.text {
  margin: 10px 0 10px 0;
  padding: 0;
}

.text-large-margin {
  margin: 15px 0 15px 0;
  padding: 0;
}

.text-small-margin {
  margin: 5px 0 5px 0;
  padding: 0;
}

.text-no-margin {
  margin: 0;
  padding: 0;
}

.image {
  border-radius: 2px;
  width: 100%;
  margin: 15px 0;
}

.max-width-400 {
  max-width: 400px;
}

.max-width-140 {
  max-width: 140px;
}


.center-align-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-align-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.text-large {
  font-size: 20px;
}

.text-small {
  font-size: 10px;
}

.text-italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

